.rubik {
    font-family: "Rubik", sans-serif;
}
.rubik h1 {
    font-size: 78px;
}
.rubik h2 {
    font-size: 42px;
}
.rubik h3 {
    font-size: 24px;
}
.rubik p {
    font-size: 18px;
}
.rubik a {
    font-size: 18px;
}