.raleway {
    font-family: "Raleway", sans-serif;
}
.raleway h1 {
    font-size: 78px;
}
.raleway h2 {
    font-size: 42px;
}
.raleway h3 {
    font-size: 24px;
}
.raleway p {
    font-size: 18px;
}
.raleway a {
    font-size: 18px;
}