<section class="hero">
    <div class="hero__contain">
        <div class="hero__content">
            <div class="hero__text col">
                <h1 class="white">Simple <span class="accent">solutions</span> for complex problems</h1>
                <p class="subtxt">Showcase your products and connect with
                    your audience. Our all-in-one platform
                    helps you manage operations and boost
                    visibility — whether you're in fashion,
                    beauty, wellness, or beyond.</p>
                <div class="btn__row">
                    <a href="#" class="btn bright">Get started free</a>
                    <a href="#" class="btn blend">Integrations</a>
                </div>
            </div>
            <div class="hero__image col">
                <img src="assets/images/hero.webp" alt="An image of Japanese signage on the side of a building.">
            </div>
        </div>
    </div>
</section>