<link rel="stylesheet" href="/component-library/components/hero/101/style.css">
<section class="hero01 inter bord-bot-s">
    <div class="flex row cgapxl shrink wrap">
        <div class="flex flex1 column rgapl flex1 justify-center text-right c1">
            <h1 class="bgl popns">Simple <span class="pri">Solutions</span> for Complex Problems</h1>
            <p>
                Showcase your products and connect with
                your audience. Our all-in-one platform
                helps you manage operations and boost
                visibility — whether you're in fashion,
                beauty, wellness, or beyond.
            </p>
            <div class="flex row cgapm inter fwid justify-end btn-row">
                <a href="#" class="btn1 content-center pri_bg bord-l smooth">Get started free</a>
                <a href="#" class="btn2 content-center uid bord-l smooth">Integrations</a>
            </div>
        </div>
        <div class="flex column flex1 justify-center c2">
            <img class="hero_img" src="/component-library/components/hero/101/assets/images/hero.webp" alt="Generic blurred colour image.">
        </div>
    </div>
</section>