.hero01 {
    padding: var(--padxl);
    border-color: var(--uid);
}
.btn1 {
    border-radius: var(--radm);
    padding: var(--btn-pad);
    border-color: var(--pri-h);
}
.btn2 {
    border-radius: var(--radm);
    padding: var(--btn-pad);
    border-color: var(--uid);
}
.btn1:hover {
    background-color: var(--pri-h);
}
.btn2:hover {
    background-color: var(--uid);
    color: var(--bgd);
}
.hero_img {
    border-radius: var(--radm);
}
@media (max-width: 768px) {
    .c2 {
        display: none;
    }
    .c1 {
        text-align: center;
    }
    .btn-row {
        justify-content: center;
    }
}