.merri {
    font-family: "Merriweather", sans-serif;
}
.merri h1 {
    font-size: 78px;
}
.merri h2 {
    font-size: 42px;
}
.merri h3 {
    font-size: 24px;
}
.merri p {
    font-size: 18px;
}
.merri a {
    font-size: 18px;
}