/* This file can be swapped out for any colours.css file with matching variables and the website's colours will change perfectly. */
:root {
    --pri: hsl(204 100% 40%);
    --pri-h: hsl(204 100% 50%);

    --sec: hsl(174 100% 40%);
    --sec-h: hsl(174 100% 50%);

    --acc: hsl(324 100% 40%);
    --acc-h: hsl(324 100% 50%);

    --bgd: hsl(204 100% 5%);
    --bgl: hsl(204 100% 95%);
    
    --uid: hsl(204 100% 15%);
    --uil: hsl(204 100% 85%);
}
.pri {
    color: var(--pri);
}
.sec {
    color: var(--sec);
}
.acc {
    color: var(--acc);
}
.bgd {
    color: var(--bgd);
}
.bgl {
    color: var(--bgl);
}
.uid {
    color: var(--uid);
}
.uil {
    color: var(--uil);
}
.pri_bg {
    background-color: var(--pri);
}
.sec_bg {
    background-color: var(--sec);
}
.acc_bg {
    background-color: var(--acc);
}
.bgd_bg {
    background-color: var(--bgd);
}
.bgl_bg {
    background-color: var(--bgl);
}
.uid_bg {
    background-color: var(--uid);
}
.uil_bg {
    background-color: var(--uil);
}