.fonts {
    height: 25vw;
    border-color: var(--uid);
}
.ideal {
    border-color:aquamarine;
}
.test {
    border-color: red;
}
@font-face {
    font-family: "DM Sans";
    src: url("/font-library/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
    font-style: normal;
    font-display: swap;
}
.testfont {
    font-family: "DM Sans";
}
.testfont h1 {
    line-height: 1.5;
    font-size: 78px;
}
.testfont h2 {
    font-size: 40px;
    line-height: 1.4;
}
.testfont h3 {
    line-height: 1.7;
}
.testfont p {
    line-height: 1.5;
    font-size: 17px;
}
