/* Body Styles */
@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url("Inter/Inter-VariableFont.woff2");
    font-display: swap;
}
.body {
    font-family: "Inter", sans-serif;
}
.body p {
    font-size: 18px;
}
.body a {
    font-size: 18px;
}
/* Header Styles */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    src: url("Poppins/Poppins-VariableFont_wght.woff2");
    font-display: swap;
}
.header {
    font-family: "Poppins", sans-serif;
}
.header h1 {
    font-size: 78px;
}
.header h2 {
    font-size: 42px;
}
.header h3 {
    font-size: 24px;
}