.opn_sans {
    font-family: "Open Sans", sans-serif;
}
.opn_sans h1 {
    font-size: 78px;
}
.opn_sans h2 {
    font-size: 42px;
}
.opn_sans h3 {
    font-size: 24px;
}
.opn_sans p {
    font-size: 18px;
}