/* Body Styles */
@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    src: url("/font-library/fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf");
    font-display: swap;
}
.body {
    font-family: "Libre Baskerville", sans-serif;
}
.body p {
    font-size: 18px;
}
.body a {
    font-size: 18px;
}
/* Header Styles */
@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    src: url("/font-library/fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf");
    font-display: swap;
}
.header {
    font-family: "Libre Baskerville", sans-serif;
}
.header h1 {
    font-size: 78px;
}
.header h2 {
    font-size: 42px;
}
.header h3 {
    font-size: 24px;
}