.jsfin_sans {
    font-family : "Josefin Sans", sans-serif;
}
.jsfin_sans h1 {
    font-size: 78px;
}
.jsfin_sans h2 {
    font-size: 42px;
}
.jsfin_sans h3 {
    font-size: 24px;
}
.jsfin_sans p {
    font-size: 18px;
}