/* Body Styles */
@font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    src: url("/font-library/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf");
    font-display: swap;
}
.body {
    font-family: "Source Sans 3";
}
.body p {
    font-size: 18px;
}
.body a {
    font-size: 18px;
}
/* Header Styles */
@font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    src: url("/font-library/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf");
    font-display: swap;
}
.header {
    font-family: "Source Sans 3", sans-serif;
}
.header h1 {
    font-size: 78px;
}
.header h2 {
    font-size: 42px;
}
.header h3 {
    font-size: 24px;
}