.nunito {
    font-family: "Nunito", sans-serif;
}
.nunito h1 {
    font-size: 78px;
}
.nunito h2 {
    font-size: 42px;
}
.nunito h3 {
    font-size: 24px;
}
.nunito p {
    font-size: 18px;
}
.nunito a {
    font-size: 18px;
}