/* Body Styles */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    src: url("/font-library/fonts/Nunito/Nunito-VariableFont_wght.ttf");
    font-display: swap;
}
.body {
    font-family: "Nunito", sans-serif;
}
.body p {
    font-size: 18px;
}
.body a {
    font-size: 18px;
}
/* Header Styles */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    src: url("/font-library/fonts/Nunito/Nunito-VariableFont_wght.ttf");
    font-display: swap;
}
.header {
    font-family: "Nunito", sans-serif;
}
.header h1 {
    font-size: 78px;
}
.header h2 {
    font-size: 42px;
}
.header h3 {
    font-size: 24px;
}