.mserrat {
    font-family: "Montserrat", sans-serif;
}
.mserrat h1 {
    font-size: 78px;
}
.mserrat h2 {
    font-size: 42px;
}
.mserrat h3 {
    font-size: 24px;
}
.mserrat p {
    font-size: 18px;
}